.manager {
  box-sizing: border-box;
  display: flex;
  gap: 12px;
  padding: 28px 28px;

  @media (min-width: 420px) {
    position: absolute;
    padding: 0 28px;
    bottom: 76px;
  }
}

.manager__photo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.manager__name {
  font-size: 14px;
}

.manager__position {
  color: #757575;
  font-size: 12px;
}