.menu {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 36px 28px;

  @media (min-width: 420px) {
    min-width: 250px;
    padding: 36px 28px 0 15px;
    gap: 55px;
  }

  @media (min-width: 1240px) {
    min-width: 306px;
    padding: 36px 28px 76px;
    gap: 64px;
  }
}
